:root {

    --background: #f0dde8;
    --pink: #db166e;
}


@font-face {
    font-family: "logo";
    src: 
        url("fonts/dunkin-webfont.woff") format("woff"),
        url("fonts/dunkin-webfont.woff2") format("woff2");
    font-weight:normal;
    font-weight:style
}
* {
    font-family:Geneva, Verdana, sans-serif Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--background);
}

h1 {
    color: var(--pink);
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    padding:4px;
    flex: 1 1 0;
    padding-top:8px;
}

label {
    display:none;
}

.container {
    display:flex;
    margin: 0 auto 0 auto;
    margin-top: 100px;
    max-width:850px;
    background-color: white;
    border-radius:8px;
    position:relative;
    min-width:fit-content;
}

.form-container {
    width: 100%;
    margin:12px;
}
.form-container div {
    display:flex;
}


.name-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.name-container div {
    flex: 110;
}

.fname {
    margin-right:24px;
}

img {
    width: 340px;
    height: 615px;
    object-fit: cover;
    opacity: .8;
    border-radius: 8px 0px 0px 8px;
}

button {
    margin: 12px;
    background-color: #ee2d84;
    color:white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size:1.25rem;
    border:none;
    margin: 30px;
}

button:hover {
    background-color: #dd0063;
}

.input-container {
    position:relative;
    margin-bottom:36px;
}

input:focus +label,
input:not(:placeholder-shown) + label, 
input.error +label
  {
    display:block;
    position:absolute;
    top:-12px;
    left:8px;
    font-size:.8em;
    background-color:white;
    color:green;
    padding:1px 8px;
    border-radius:4px;
    border:none;
}

input:not(:placeholder-shown):not(:focus):valid + label {
    color:grey;
}

input:not(:placeholder-shown):not(:focus):valid {
    border: solid 1px grey;
    border-radius: 4px;
    transition: all .2s ease-in;
}

input:not(:placeholder-shown):not(:focus):invalid, 
input.error:not(:placeholder-shown):not(:focus):valid, 
input.error {
    border: solid 2px red;
    border-radius: 4px;
    transition: all .2s ease-in;
}

input:not(:placeholder-shown):not(:focus):invalid + label, 
input.error:not(:placeholder-shown):not(:focus):valid + label,
input.error + label {
    color:red;
}


input:focus {
    border: solid 2px green;
    border-radius: 4px;
    transition: all .2s ease-in;
}

div.errorDes {
    display:block;
    position: absolute;
    font-size: .7em;
    color:red;
    left: 2px;
    bottom: -12px;
}

.container .logo {
    color:white;
    position:absolute;
    left:110px;
    font:
        2em "logo", monospace;
}

.container .credit {
    position:absolute;
    bottom:0px;
    left:50px;
    color:white;
    font-weight: 600;
    font-size:.8em;
}

a {
    color: rgb(106, 245, 106);
    text-decoration: none;
}

input:focus::placeholder,
input.error::placeholder {
    color:transparent;
}
